.authLink{
    cursor: pointer;
    color: blue;  
}

.authContainer{
    margin-top: 20px;
}

.logo{
    padding-top: 40px;
}

.appname{
    padding-top: 20px;
    font-weight: bold;
    font-size: 32px;
}

.subheader{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.copyright{
    font-size: 14px;
    margin-left: -5px;
}