@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.authLink{
    cursor: pointer;
    color: blue; 
}

.helperLink{
    margin-top: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.pt-16{
    padding-top: 16px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


input[type=file] {
    border: 1px solid black;
    border-radius: 10px;
    height: 36px;
    width: 257px;
    margin-top: 5px;
    text-indent: 5px;
}
input[type=file]::file-selector-button {
    margin-top: 2px;
    margin-right: 10px;
    border: none;
    background: #00431B;
    /* padding: 10px 20px; */
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    width: 120px;
    height: 30px;
  }
