@tailwind base;
@tailwind components;
@tailwind utilities;



.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 30px;
    margin-left:auto;
    margin-right: auto;
  
}

.authLink{
    cursor: pointer;
    color: blue; 
}

.helperLink{
    margin-top: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.pt-16{
    padding-top: 16px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


input[type=file] {
    border: 1px solid black;
    border-radius: 10px;
    height: 36px;
    width: 257px;
    margin-top: 5px;
    text-indent: 5px;
}
input[type=file]::file-selector-button {
    margin-top: 2px;
    margin-right: 10px;
    border: none;
    background: #00431B;
    /* padding: 10px 20px; */
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    width: 120px;
    height: 30px;
  }

  .h1{
    font-size: 34px;
  }
  .h2{
    font-size: 32px;
  }
  .h3{
    font-size: 26px;
  }
  .h4{
    font-size: 22px;
  }
  .h5{
    font-size: 20px;
  }
  .h6{
    font-size: 18px;
  }
  
  .fw-100{
    font-weight: 100;
  }
  .fw-200{
    font-weight: 200;
  }
  .fw-300{
    font-weight: 300;
  }
  .fw-400{
    font-weight: 400;
  }
  .fw-500{
    font-weight: 500;
  }
  .fw-600{
    font-weight: 600;
  }
  .fw-700{
    font-weight: 700;
  }
  .fw-800{
    font-weight: 800;
  }
  .fw-900{
    font-weight: 900;
  }

.mb2{
    margin-bottom: 2px;
}
.mb4{
    margin-bottom: 4px;
}
.mb6{
    margin-bottom: 6px;
}
.mb8{
    margin-bottom: 8px;
}
.mb10{
    margin-bottom: 10px;
}
.mb12{
    margin-bottom: 12px;
}
.mb16{
    margin-bottom: 16px;
}
.mb18{
    margin-bottom: 18px;
}

.mt2{
    margin-top: 2px;
}
.mt4{
    margin-top: 4px;
}
.mt6{
    margin-top: 6px;
}
.mt8{
    margin-top: 8px;
}
.mt10{
    margin-top: 10px;
}
.mt12{
    margin-top: 12px;
}
.mt16{
    margin-top: 16px;
}
.mt18{
    margin-top: 18px;
}

.w100{
    width: 100%;
}
.w50{
  width: 10%;
}